{% block content %}

<div style="  border-bottom: 2px solid lightblue;">
<h2>Event id: </h2>{{event.id}}
<h2>Event summary: </h2>{{event.summary}}
<h2>Event Start at: </h2>{{event.start}}{{event.dateTime}}
<h2>Event end at: </h2>{{event.end}}{{event.dataTime}}
</div>

{% endblock content %}